<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/mypic.jpg" alt="yudha" class="img-thumbnail rounded-circle" width="150">
            <h1>Trisnayudha Bachtiar</h1>
            <p class="lead"> Front End Web | Backend Web</p>
        </div>
    </div>
</div>